header {
    /* background: #3e3d3d; */
    border: 3px solid black;
   /*  color: white; */
    padding: 1.25rem;
    margin-bottom: 10px;
    text-align: center;    
}
nav {

    text-align:center;
}

#panel-principal{
    width: 100%;
    min-height: 500px;

}

#panel-alerta{
    position: absolute;
    right: 0;
    width: 30%;
    opacity: .8;
}

.arial{
    font-family: Arial;
    font-size: 30px;
    text-align: justify;
}

.times{
    font-family: Times;
    font-size: 40px;
    text-align: justify;
}

#p1{
    margin: 10%;
    width: 30%;
    float: left;
}

#p2{
    margin: 10%;
    width: 30%;
    float: left;
}